footer 
  .footer 
    .header__upperPart.footer__logo.pageContent
        a.header__logo(href="javascript:void(0)") 
          h1.header__logoTitle M
          .header__logoWrapper.header__logoWrapper--rotated
            img.header__logoIcon(src="/src/img/loupeWhite.png" alt="loupeIcon")
          h1.header__logoTitle N
          .header__logoWrapper.header__logoWrapper--stay
            img.header__logoIcon(src="/src/img/loupeWhite.png" alt="loupeIcon")

    p.footer__text Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis imperdiet egestas.
    
    ul.footer__iconsList 
      li.footer__iconsItem 
        a.footer__iconsLink(href="javascript:void(0)")
          img.footer__icon(src="/src/img/facebook (1).png" alt="icon")
      li.footer__iconsItem 
        a.footer__iconsLink(href="javascript:void(0)")
          img.footer__icon(src="/src/img/twitter (1).png" alt="icon")
      li.footer__iconsItem 
        a.footer__iconsLink(href="javascript:void(0)")
          img.footer__icon(src="/src/img/google-plus.png" alt="icon")
      li.footer__iconsItem 
        a.footer__iconsLink(href="javascript:void(0)")
          img.footer__icon(src="/src/img/pinterest.png" alt="icon")
      li.footer__iconsItem 
        a.footer__iconsLink(href="javascript:void(0)")
          img.footer__icon(src="/src/img/trending (1).png" alt="icon")
    
    p.footer__copyright 
      | © Copyright 2021, GRIDGUM.
      br
      | All Rights Reserved