.content 
  a.content__scrollUp#arrowUp(href="#home")
    img.content__scrollIcon(src="/src/img/up-arrow.png")
  
  .content__laptop 
   img.content__laptopImg(src="/src/img/macbook.png" alt="logo")

  h2.content__title LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING. 

  .content__boxes.pageContent#features
    .content__boxesRowOne

      .content__infoBox
        .content__iconWrapper 
          img.content__icon(src="/src/img/iconMessages.png" alt="macBookImage")
        .content__text
          a.content__boxTitle(href="javascript:void(0)") BEST CRM SYSTEM
          p.content__boxInfo Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.

      .content__infoBox
        .content__iconWrapper 
          img.content__icon(src="/src/img/iconTime.png" alt="logo")
        .content__text
          a.content__boxTitle(href="javascript:void(0)") TIME TRACKING
          p.content__boxInfo Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.

      .content__infoBox
        .content__iconWrapper 
          img.content__icon(src="/src/img/iconDownload.png" alt="logo")
        .content__text
          a.content__boxTitle(href="javascript:void(0)") DOWNLOAD EASILY
          p.content__boxInfo Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.


    .content__boxesRowTwo

      .content__infoBox
        .content__iconWrapper 
          img.content__icon(src="/src/img/iconChart.png" alt="logo")
        .content__text
          a.content__boxTitle(href="javascript:void(0)") FINANCIAL CHARTS
          p.content__boxInfo Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.

      .content__infoBox
        .content__iconWrapper 
          img.content__icon(src="/src/img/iconMark.png" alt="logo")
        .content__text
          a.content__boxTitle(href="javascript:void(0)") BADGES FOR CUSTOMER
          p.content__boxInfo Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.

      .content__infoBox
        .content__iconWrapper 
          img.content__icon(src="/src/img/iconCalendar.png" alt="logo")
        .content__text
          a.content__boxTitle(href="javascript:void(0)") DAILY CALENDAR
          p.content__boxInfo Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.


