.purchase 
  .purchase__content.pageContent 
    .purchase__left
      h2.purchase__title NEED A PERFECT PRODUCT FOR YOUR BUSINESS?
      p.purchase__info Nam feugiat enim diam, sed bibendum diam gravida ac. Ut urna urna, blandit viverra luctus et, vulputate vitae ligula. Duis commodo vitae massa quis maximus.
    .purchase__right 
      a.purchase__btn(href="javascript:void(0)") Purchase Now 
      a.purchase__btnDemo(href="#home") Try Our Demo
