.stats.pageContent#about
  .stats__left 
    h2.stats__title Quisque aliquam felis et sapien vulputate ut imperdiet.
    p.stats__info 
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac nisi eget ligula ultricies porta. Integer in sapien non felis scelerisque elementum. 
      br
      | Aliquam scelerisque eros sit amet eleifend rhoncus. Morbi ut imperdiet mi, a dictum nisl. Nulla facilisi. Pellentesque rhoncus mattis lacus eget efficitur. 
      br
      | Donec pretium, mauris in auctor posuere, ante ipsum tincidunt urna, gravida molestie dolor tellus eget nunc. Nullam vestibulum lorem sit amet quam suscipit mollis a eget enim. 
      br
      | Quisque aliquam felis et sapien vulputate, nec scelerisque neque commodo. Quisque in dui turpis. Aliquam nec luctus orci, eget auctor felis.

    .stats__numbers 
      .stats__numberEach
        span.stats__number#numberComponents 259
        span.stats__name Components
      
      .stats__numberEach.stats__numberEach--borders
        span.stats__number#numberThemes 111+
        span.stats__name Themes
      
      .stats__numberEach
        span.stats__number Unlimited
        span.stats__name Users

  .stats__right
    .stats__imgWrapper 
      img.stats__img(src="/src/img/imac.png" alt="imacImage")
    

  
