.video#videoBlock
  a.video__iconWrapper(href="https://www.youtube.com/watch?v=XjDh_5ZH9wQ") 
    img.video__icon(src="/src/img/play.png")
  .video__wrapper
    img.video__image(src="/src/img/videoImage.jpg")